
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.gameWrapper {
  text-align: center;
  background: white;
  border: 1px dashed;
  overflow: auto;
  min-width: 640px;

}

.game 
{
  width: 640px;
  height: 1130px;
  background: gold; /** <-- For the demo **/
}
